<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content col-xs-12">
        <div class="modal--body modal--row col-xs-12">
            <button type="button" class="modal--close-button" onclick="closeModal()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <div class="introduktion-modal-main col-xs-12">
                <div class="modal-header col-xs-12">
                    <a href="#information"><span>Information om KOL ></span></a>
                    <span>Instruktioner til inhalator-medicin</span>
                </div>
                <div class="card--title col-xs-12">
                    <span>Instruktioner til inhalator-medicin</span>
                </div>
                <div class="accordion-row col-xs-12">
                    <div class="accordion-row-left">
                        <span>A</span>
                        <i class="fa fa-plus plus-btn" aria-hidden="true" onclick="toggleAccordion(this)"></i>
                    </div>
                    <div class="accordion-row-right">
                        
                    </div>
                    <div class="accordion-row-content col-xs-12">
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openMedicinModal(this)">
                                <span>AeroBec&reg;</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordion-row-content-right-item">
                                <i class="fa fa-star star-btn" aria-hidden="true" onclick="selectStar(this)"></i>
                            </div>
                        </div>
                        
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openMedicinModal(this)">
                                <span>AirFluSal&reg; Forspiro</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordion-row-content-right-item">
                                <i class="fa fa-star star-btn" aria-hidden="true" onclick="selectStar(this)"></i>
                            </div>
                        </div>

                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openMedicinModal(this)">
                                <span>Alvesco&reg;</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordion-row-content-right-item">
                                <i class="fa fa-star star-btn" aria-hidden="true" onclick="selectStar(this)"></i>
                            </div>
                        </div>

                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openMedicinModal(this)">
                                <span>Anoro</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordion-row-content-right-item">
                                <i class="fa fa-star star-btn" aria-hidden="true" onclick="selectStar(this)"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-row col-xs-12">
                    <div class="accordion-row-left">
                        <span>B</span>
                        <i class="fa fa-plus plus-btn" aria-hidden="true" onclick="toggleAccordion(this)"></i>
                    </div>
                    <div class="accordion-row-right">

                    </div>
                    <div class="accordion-row-content col-xs-12">
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openMedicinModal(this)">
                                <span>Breezhaler</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordion-row-content-right-item">
                                <i class="fa fa-star star-btn" aria-hidden="true" onclick="selectStar(this)"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-row col-xs-12">
                    <div class="accordion-row-left">
                        <span>D</span>
                        <i class="fa fa-plus plus-btn" aria-hidden="true" onclick="toggleAccordion(this)"></i>
                    </div>
                    <div class="accordion-row-right">

                    </div>
                    <div class="accordion-row-content col-xs-12">
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openMedicinModal(this)">
                                <span>Diskos</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordion-row-content-right-item">
                                <i class="fa fa-star star-btn" aria-hidden="true" onclick="selectStar(this)"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-row col-xs-12">
                    <div class="accordion-row-left">
                        <span>E</span>
                        <i class="fa fa-plus plus-btn" aria-hidden="true" onclick="toggleAccordion(this)"></i>
                    </div>
                    <div class="accordion-row-right">

                    </div>
                    <div class="accordion-row-content col-xs-12">
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openMedicinModal(this)">
                                <span>Easyhaler</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordion-row-content-right-item">
                                <i class="fa fa-star star-btn" aria-hidden="true" onclick="selectStar(this)"></i>
                            </div>
                        </div>

                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openMedicinModal(this)">
                                <span>Ellipta</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordion-row-content-right-item">
                                <i class="fa fa-star star-btn" aria-hidden="true" onclick="selectStar(this)"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-row col-xs-12">
                    <div class="accordion-row-left">
                        <span>F</span>
                        <i class="fa fa-plus plus-btn" aria-hidden="true" onclick="toggleAccordion(this)"></i>
                    </div>
                    <div class="accordion-row-right">

                    </div>
                    <div class="accordion-row-content col-xs-12">
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openMedicinModal(this)">
                                <span>Forspiro</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordion-row-content-right-item">
                                <i class="fa fa-star star-btn" aria-hidden="true" onclick="selectStar(this)"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-row col-xs-12">
                    <div class="accordion-row-left">
                        <span>G</span>
                        <i class="fa fa-plus plus-btn" aria-hidden="true" onclick="toggleAccordion(this)"></i>
                    </div>
                    <div class="accordion-row-right">

                    </div>
                    <div class="accordion-row-content col-xs-12">
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openMedicinModal(this)">
                                <span>Genuair</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordion-row-content-right-item">
                                <i class="fa fa-star star-btn" aria-hidden="true" onclick="selectStar(this)"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-row col-xs-12">
                    <div class="accordion-row-left">
                        <span>H</span>
                        <i class="fa fa-plus plus-btn" aria-hidden="true" onclick="toggleAccordion(this)"></i>
                    </div>
                    <div class="accordion-row-right">

                    </div>
                    <div class="accordion-row-content col-xs-12">
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openMedicinModal(this)">
                                <span>HandiHaler</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordion-row-content-right-item">
                                <i class="fa fa-star star-btn" aria-hidden="true" onclick="selectStar(this)"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-row col-xs-12">
                    <div class="accordion-row-left">
                        <span>O</span>
                        <i class="fa fa-plus plus-btn" aria-hidden="true" onclick="toggleAccordion(this)"></i>
                    </div>
                    <div class="accordion-row-right"></div>
                    <div class="accordion-row-content col-xs-12">
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openMedicinModal(this)">
                                <span>OptiChamber uden maske</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordion-row-content-right-item">
                                <i class="fa fa-star star-btn" aria-hidden="true" onclick="selectStar(this)"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-row col-xs-12">
                    <div class="accordion-row-left">
                        <span>P</span>
                        <i class="fa fa-plus plus-btn" aria-hidden="true" onclick="toggleAccordion(this)"></i>
                    </div>
                    <div class="accordion-row-right">

                    </div>
                    <div class="accordion-row-content col-xs-12">
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openMedicinModal(this)">
                                <span>Peakflowmeter (normal skala)</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordion-row-content-right-item">
                                <i class="fa fa-star star-btn" aria-hidden="true" onclick="selectStar(this)"></i>
                            </div>
                        </div>
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openMedicinModal(this)">
                                <span>Pocket Chamber</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordion-row-content-right-item">
                                <i class="fa fa-star star-btn" aria-hidden="true" onclick="selectStar(this)"></i>
                            </div>
                        </div>
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openMedicinModal(this)">
                                <span>Podhaler</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordion-row-content-right-item">
                                <i class="fa fa-star star-btn" aria-hidden="true" onclick="selectStar(this)"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-row col-xs-12">
                    <div class="accordion-row-left">
                        <span>R</span>
                        <i class="fa fa-plus plus-btn" aria-hidden="true" onclick="toggleAccordion(this)"></i>
                    </div>
                    <div class="accordion-row-right"></div>
                    <div class="accordion-row-content col-xs-12">
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openMedicinModal(this)">
                                <span>Respimat klargøring</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordion-row-content-right-item">
                                <i class="fa fa-star star-btn" aria-hidden="true" onclick="selectStar(this)"></i>
                            </div>
                        </div>
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openMedicinModal(this)">
                                <span>Respimat brug</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordion-row-content-right-item">
                                <i class="fa fa-star star-btn" aria-hidden="true" onclick="selectStar(this)"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-row col-xs-12">
                    <div class="accordion-row-left">
                        <span>S</span>
                        <i class="fa fa-plus plus-btn" aria-hidden="true" onclick="toggleAccordion(this)"></i>
                    </div>
                    <div class="accordion-row-right"></div>
                    <div class="accordion-row-content col-xs-12">
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openMedicinModal(this)">
                                <span>Salamol inhalator klargøring</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordion-row-content-right-item">
                                <i class="fa fa-star star-btn" aria-hidden="true" onclick="selectStar(this)"></i>
                            </div>
                        </div>
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openMedicinModal(this)">
                                <span>Salamol inhalator brug</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordion-row-content-right-item">
                                <i class="fa fa-star star-btn" aria-hidden="true" onclick="selectStar(this)"></i>
                            </div>
                        </div>
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openMedicinModal(this)">
                                <span>Spiromax</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordion-row-content-right-item">
                                <i class="fa fa-star star-btn" aria-hidden="true" onclick="selectStar(this)"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-row col-xs-12">
                    <div class="accordion-row-left">
                        <span>T</span>
                        <i class="fa fa-plus plus-btn" aria-hidden="true" onclick="toggleAccordion(this)"></i>
                    </div>
                    <div class="accordion-row-right"></div>
                    <div class="accordion-row-content col-xs-12">
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openMedicinModal(this)">
                                <span>Turbuhaler</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordion-row-content-right-item">
                                <i class="fa fa-star star-btn" aria-hidden="true" onclick="selectStar(this)"></i>
                            </div>
                        </div>
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openMedicinModal(this)">
                                <span>Turbospin</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordion-row-content-right-item">
                                <i class="fa fa-star star-btn" aria-hidden="true" onclick="selectStar(this)"></i>
                            </div>
                        </div>
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openMedicinModal(this)">
                                <span>Twisthaler</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordion-row-content-right-item">
                                <i class="fa fa-star star-btn" aria-hidden="true" onclick="selectStar(this)"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-row col-xs-12">
                    <div class="accordion-row-left">
                        <span>V</span>
                        <i class="fa fa-plus plus-btn" aria-hidden="true" onclick="toggleAccordion(this)"></i>
                    </div>
                    <div class="accordion-row-right"></div>
                    <div class="accordion-row-content col-xs-12">
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openMedicinModal(this)">
                                <span>Volumatic</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordion-row-content-right-item">
                                <i class="fa fa-star star-btn" aria-hidden="true" onclick="selectStar(this)"></i>
                            </div>
                        </div>
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openMedicinModal(this)">
                                <span>Vortex</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                            <div class="accordion-row-content-right-item">
                                <i class="fa fa-star star-btn" aria-hidden="true" onclick="selectStar(this)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>