<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content col-xs-12">
        <div class="modal--body modal--row col-xs-12">
            <button type="button" class="modal--close-button" onclick="pauseVideos()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <div class="introduktion-modal-main col-xs-12">
                <div class="modal-header col-xs-12">
                    <a href="#information"><span>Information om KOL forside ></span></a>
                    <span>Nyeste tilføjelser</span>
                </div>
                <div class="card--title col-xs-12">
                    <span>Nyeste tilføjelser af artikler og videoer</span>
                </div>
                <!-- Swiper -->
                <div class="swiper-container additions-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="additions-article col-sm-11 col-xs-12">
                                <div class="additions-article-header col-xs-12">
                                    <span>Artikel tiløjet 21. August 2016</span>
                                </div>
                                <div class="additions-article-title col-xs-12" onclick="openModal('textFirstModal')">
                                    <span>Ny information om KOL og kost</span>
                                </div>
                                <div class="additions-article-text col-xs-12">
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim...</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="additions-article col-sm-11 col-xs-12">
                                <div class="additions-article-header col-xs-12">
                                    <span>Video tiløjet 21. August 2016</span>
                                </div>
                                <div class="additions-article-title col-xs-12"  onclick="openModal('medicinModal')">
                                    <span>Den ny inhalator fra PharmeTech</span>
                                </div>
                                <div class="additions-article-text col-xs-5">
                                    <img src="assets/images/inhalatoren.jpg" width="100%"/>
                                </div>
                                <div class="additions-article-text col-xs-7">
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim...</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="additions-article col-sm-11 col-xs-12">
                                <div class="additions-article-header col-xs-12">
                                    <span>Artikel tiløjet 21. August 2016</span>
                                </div>
                                <div class="additions-article-title col-xs-12" onclick="openModal('textFirstModal')">
                                    <span>Ny undersøgelsesmetode</span>
                                </div>
                                <div class="additions-article-text col-xs-12">
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim...</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="additions-article col-sm-11 col-xs-12">
                                <div class="additions-article-header col-xs-12">
                                    <span>Video tiløjet 21. August 2016</span>
                                </div>
                                <div class="additions-article-title col-xs-12" onclick="openModal('medicinModal')">
                                    <span>Den ny inhalator fra PharmeTech</span>
                                </div>
                                <div class="additions-article-text col-xs-5">
                                    <img src="assets/images/inhalatoren.jpg" width="100%" />
                                </div>
                                <div class="additions-article-text col-xs-7">
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim...</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="additions-article col-sm-11 col-xs-12">
                                <div class="additions-article-header col-xs-12">
                                    <span>Artikel tiløjet 21. August 2016</span>
                                </div>
                                <div class="additions-article-title col-xs-12" onclick="openModal('textFirstModal')">
                                    <span>Ny information om KOL og kost</span>
                                </div>
                                <div class="additions-article-text col-xs-12">
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim...</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="additions-article col-sm-11 col-xs-12">
                                <div class="additions-article-header col-xs-12">
                                    <span>Video tiløjet 21. August 2016</span>
                                </div>
                                <div class="additions-article-title col-xs-12" onclick="openModal('medicinModal')">
                                    <span>Den ny inhalator fra PharmeTech</span>
                                </div>
                                <div class="additions-article-text col-xs-5">
                                    <img src="assets/images/inhalatoren.jpg" width="100%" />
                                </div>
                                <div class="additions-article-text col-xs-7">
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim...</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="additions-article col-sm-11 col-xs-12">
                                <div class="additions-article-header col-xs-12">
                                    <span>Artikel tiløjet 21. August 2016</span>
                                </div>
                                <div class="additions-article-title col-xs-12"  onclick="openModal('textFirstModal')">
                                    <span>Ny undersøgelsesmetode</span>
                                </div>
                                <div class="additions-article-text col-xs-12">
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim...</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="additions-article col-sm-11 col-xs-12">
                                <div class="additions-article-header col-xs-12">
                                    <span>Video tiløjet 21. August 2016</span>
                                </div>
                                <div class="additions-article-title col-xs-12" onclick="openModal('medicinModal')">
                                    <span>Den ny inhalator fra PharmeTech</span>
                                </div>
                                <div class="additions-article-text col-xs-5">
                                    <img src="assets/images/inhalatoren.jpg" width="100%" />
                                </div>
                                <div class="additions-article-text col-xs-7">
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim...</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="additions-article col-sm-11 col-xs-12">
                                <div class="additions-article-header col-xs-12">
                                    <span>Artikel tiløjet 21. August 2016</span>
                                </div>
                                <div class="additions-article-title col-xs-12" onclick="openModal('textFirstModal')">
                                    <span>Ny information om KOL og kost</span>
                                </div>
                                <div class="additions-article-text col-xs-12">
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim...</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="additions-article col-sm-11 col-xs-12">
                                <div class="additions-article-header col-xs-12">
                                    <span>Video tiløjet 21. August 2016</span>
                                </div>
                                <div class="additions-article-title col-xs-12" onclick="openModal('medicinModal')">
                                    <span>Den ny inhalator fra PharmeTech</span>
                                </div>
                                <div class="additions-article-text col-xs-5">
                                    <img src="assets/images/inhalatoren.jpg" width="100%" />
                                </div>
                                <div class="additions-article-text col-xs-7">
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="swiper-btn additions-up glyphicon glyphicon-menu-up"></span>
                    <span class="swiper-btn additions-down glyphicon glyphicon-menu-down"></span>   
                    <div class="swiper-line-between"></div>
                </div>
            </div>
        </div>
    </div>
</div>