<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content col-xs-12">
        <div class="modal--body modal--row col-xs-12">
            <button type="button" class="modal--close-button" onclick="closeIntroduktion()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <div class="introduktion-modal-main col-xs-12">
                <div class="card--title col-xs-12">
                    <span>Så fungerer den digitale KOL Forløbsplan</span>
                </div>
                <div class="introduktion-modal-sub-title col-xs-12">
                    <span>Den digitale forløbsplan skal give dig som patient mulighed for at følge med i, hvordan behandlingen af din KOL forløber.</span>
                </div>
                <div class="introduktion-modal-text col-xs-12">
                    <span>Du finder ind til din forløbsplan ved at gå til sundhed.dk, logger ind med dit NemID,
                          og så vælger "KOL-Forløbsplan" i rækken over diagnoser.
                    </span>
                </div>
                <div class="row">
                    <div class="introduktion-item" onclick="setIntroduktionType(1)">
                        <span>Billeder</span>
                    </div>
                    <div class="introduktion-item" onclick="setIntroduktionType(2)">
                        <span>Videoer</span>
                    </div>
                    <div class="stamdata-pointer col-xs-12">
                        <div id="introduktionCircle" class="stamdata-pointer-circle"></div>
                        <div class="stamdata-pointer-line"></div>
                    </div>
                </div>
                <div class="introduktion-content col-xs-12">
                    <div class="swiper-container swiper-introduktion">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="introduktion-image intro-img-1"></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="introduktion-image intro-img-2"></div>
                            </div>
                            <div class="swiper-slide">
                                <div class="introduktion-image intro-img-3"></div>
                            </div>
                        </div>                       
                    </div>
                    <div class="introduktion-pagination col-xs-12">
                        <div class="swiper-pagination"></div>
                    </div>                    
                    <span class="swiper-btn introduktion-right glyphicon glyphicon-menu-right"></span>
                    <span class="swiper-btn introduktion-left glyphicon glyphicon-menu-left"></span>

                    <div class="introduktion-text-list col-xs-12">
                        <div class="introduktion-text-row col-xs-12">
                            <div class="introduktion-text-number col-sm-1 col-xs-2">
                                <span>1</span>
                            </div>
                            <div class="col-xs-10">
                                <span>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempot incididunt ut labore et dolore
                                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                                </span>
                            </div>
                        </div>
                        
                        <div class="introduktion-text-row col-xs-12">
                            <div class="introduktion-text-number col-sm-1 col-xs-2">
                                <span>2</span>
                            </div>
                            <div class="col-xs-10">
                                <span>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempot incididunt ut labore et dolore
                                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                                </span>
                            </div>
                        </div>
                        <div class="introduktion-text-row col-xs-12">
                            <div class="introduktion-text-number col-sm-1 col-xs-2">
                                <span>3</span>
                            </div>
                            <div class="col-xs-10">
                                <span>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempot incididunt ut labore et dolore
                                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                                </span>
                            </div>
                        </div>
                        <div class="introduktion-text-row col-xs-12">
                            <div class="introduktion-text-number col-sm-1 col-xs-2">
                                <span>4</span>
                            </div>
                            <div class="col-xs-10">
                                <span>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempot incididunt ut labore et dolore
                                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                                </span>
                            </div>
                        </div>
                        <div class="introduktion-text-row col-xs-12">
                            <div class="introduktion-text-number col-sm-1 col-xs-2">
                                <span>5</span>
                            </div>
                            <div class="col-xs-10">
                                <span>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempot incididunt ut labore et dolore
                                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                                </span>
                            </div>
                        </div>

                        <div class="introduktion-button-col col-sm-6 col-xs-12">
                            <div class="btn-1" onclick="closeModal()">
                                <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                                <button>Vis mig forløbsplanen</button>
                            </div>
                        </div>
                        <div class="introduktion-checkbox-col col-sm-6 col-xs-12">
                            <input type="checkbox" />
                            <span>Vis ikke denne introduktion igen</span>
                        </div>
                    </div>
                </div>
                <div class="introduktion-content introduktion-video-content col-xs-12">
                    <div class="forvente-video-container col-xs-6">
                        <div class="forvente-video col-xs-12">
                            <div class="play-btn" onclick="openVideoModal('intro1', 'introduktion', 'Introduktion 1')">
                                <i class="fa fa-play fa-lg" aria-hidden="true"></i>
                                <span>03:06</span>
                            </div>
                            <img src="../assets/images/intro1.png" alt="Se video" onclick="openVideoModal('intro1', 'introduktion', 'Introduktion 1')" />
                            <div class="forvente-video-title col-xs-12">
                                <span>Introduktion 1</span>
                            </div>
                        </div>
                    </div>

                    <div class="forvente-video-container col-xs-6">
                        <div class="forvente-video col-xs-12">
                            <div class="play-btn" onclick="openVideoModal('intro2', 'introduktion', 'Introduktion 2')">
                                <i class="fa fa-play fa-lg" aria-hidden="true"></i>
                                <span>03:06</span>
                            </div>
                            <img src="../assets/images/intro2.png" alt="Se video" onclick="openVideoModal('intro2', 'introduktion', 'Introduktion 2')" />
                            <div class="forvente-video-title col-xs-12">
                                <span>Introduktion 2</span>
                            </div>
                        </div>
                    </div>
                    <div class="forvente-video-container col-xs-6">
                        <div class="forvente-video col-xs-12">
                            <div class="play-btn" onclick="openVideoModal('intro3', 'introduktion', 'Introduktion 3')">
                                <i class="fa fa-play fa-lg" aria-hidden="true"></i>
                                <span>03:06</span>
                            </div>
                            <img src="../assets/images/intro3.png" alt="Se video" onclick="openVideoModal('intro3', 'introduktion', 'Introduktion 3')" />
                            <div class="forvente-video-title col-xs-12">
                                <span>Introduktion 3</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>