<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content col-xs-12">
        <div class="modal--body modal--row col-xs-12">
            <div class="modal--main-row modal--list-content">
                <button type="button" class="modal--close-button" onclick="closeModal()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <div class="modal-header col-xs-12">
                    <a href="#information"><span>Information om KOL ></span></a>
                    <span>Emner - Informationer om KOL</span>
                </div>
                <div class="row card--row modal--list-title col-xs-12">
                    <div class="card--title col-xs-12">
                        <span>Emner - Informationer om KOL</span>
                    </div>
                    <div class="col-xs-12">
                        <span>
                            Her kan du se informationer om KOL, kategoriseret efter emneord
                        </span>
                    </div>
                </div>
                <div class="row modal--list-main card--row col-xs-12">
                    <div class="accordion-row-left">
                        <span>Behandlere</span>
                        <i class="fa fa-plus plus-btn" aria-hidden="true" onclick="toggleListModalItems(this)"></i>
                    </div>
                    <div class="modal-list-items-wrapper col-xs-12">
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openModal('textAndenodModal')">
                                <span>Behandlere du kan møde</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openModal('textAndenodModal')">
                                <span>Hvad mente lægen da han sadge</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openModal('textAndenodModal')">
                                <span>Kontrol hos egen læge</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openModal('textAndenodModal')">
                                <span>Lægens opgaver</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row card--row modal--list-main col-xs-12">
                    <div class="accordion-row-left">
                        <span>Kost</span>
                        <i class="fa fa-plus plus-btn" aria-hidden="true" onclick="toggleListModalItems(this)"></i>
                    </div>
                    <div class="modal-list-items-wrapper col-xs-12">
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openModal('textAndenodModal')">
                                <span>Behandlere du kan møde</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openModal('textAndenodModal')">
                                <span>Hvad mente lægen da han sadge</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openModal('textAndenodModal')">
                                <span>Kontrol hos egen læge</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openModal('textAndenodModal')">
                                <span>Lægens opgaver</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal--list-main row card--row col-xs-12">
                    <div class="accordion-row-left">
                        <span>Medicin</span>
                        <i class="fa fa-plus plus-btn" aria-hidden="true" onclick="toggleListModalItems(this)"></i>
                    </div>
                    <div class="modal-list-items-wrapper col-xs-12">
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openModal('textAndenodModal')">
                                <span>Behandlere du kan møde</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openModal('textAndenodModal')">
                                <span>Hvad mente lægen da han sadge</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openModal('textAndenodModal')">
                                <span>Kontrol hos egen læge</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openModal('textAndenodModal')">
                                <span>Lægens opgaver</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal--list-main row card--row col-xs-12">
                    <div class="accordion-row-left">
                        <span>Motion</span>
                        <i class="fa fa-plus plus-btn" aria-hidden="true" onclick="toggleListModalItems(this)"></i>
                    </div>
                    <div class="modal-list-items-wrapper col-xs-12">
                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openModal('textAndenodModal')">
                                <span>Behandlere du kan møde</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openModal('textAndenodModal')">
                                <span>Hvad mente lægen da han sadge</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openModal('textAndenodModal')">
                                <span>Kontrol hos egen læge</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="accordion-row-content-row col-xs-12">
                            <div class="accordion-row-content-item" onclick="openModal('textAndenodModal')">
                                <span>Lægens opgaver</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>