<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content col-xs-12">
        <div class="modal--body modal--row col-xs-12">
            <div class="modal--main-row modal--video-content">
                <button type="button" class="modal--close-button" onclick="closeModal()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>           
                <div class="modal-header col-xs-12">
                    <a href="#information"><span>Information om KOL ></span></a>
                    <span>Første tid med KOL</span>
                </div>    
                <div class="row card--row modal--text-main col-xs-12">
                    <div class="col-xs-12 card--title" >
                        <span>Første tid med KOL</span>
                    </div>
                    <div class="col-xs-12">
                        <span>Som KOL-patient er der en række af teknikker og tip til lindring, som du skal kende til.</span>
                    </div>
                    <div class="col-xs-12">
                        <p>Her er en række teknikker, du kan bruge, når du oplever gener som KOL-patient.</p>
                        <p>Hav fokus på din vejrtrækning. Sæt dig i en stol, placer en hånd på brystet og den anden ved navlen. Du skal nu trække vejret sådan, at maven gør det meste af arbejdet. Mange kommer fejlagtigt til kun at trække vejret i brystkassen. Gentager du denne øvelse, vil din vejrtrækningsmuskel med tiden blive trænet op. På den måde vil du trække vejret mere effektivt.</p>
                        <p>Du kan eksempelvis også bruge “fløjtemundsteknikken”, når du oplever åndenød. Her trækker du vejret langsomt ind gennem næsen. Spids så din mund som hvis du skulle fløjte. Ånd jævnt ud gennem munden.</p>
                        <p>Oplever du slim i halsen, kan du hoste det op gennem kontrolleret hoste. Tag en langsom og dyb indånding gennem næsen. Hold vejret et par sekunder. Åben munden og host 2-3 korte host. Slap derefter af og gentag.</p>
                    </div>
                    <div class="col-xs-12">
                        <p><b>Læs også</b></p>
                        <ul>
                            <li><a onclick="openModal('textFlojtenModal');">Pep-fløjten ved slim og hoste</a></li>
                            <li><a onclick="openModal('textAndenodModal');">Åndenød</a></li>
                        </ul>
                        <p><b>Læs mere andre steder</b></p>
                        <ul>
                            <li>
                                <a href="https://www.lunge.dk/vejrtraekningsteknik" target="_blank" title="Læs mere om verjtrækningsteknik på lunge.dk">
                                https://www.lunge.dk/vejrtraekningsteknik 
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>