<div class="modal-dialog">
    
    <!-- Modal content-->
    <div class="modal-content col-xs-12">
        <div class="modal--body modal--row col-xs-12">
            <div class="modal--main-row modal--video-content">
                <button type="button" class="modal--close-button" onclick="closeModal()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <div class="modal-header col-xs-12">
                    <a href="#information"><span>Information om KOL ></span></a>
                    <span>Angst</span>
                </div>
                <div class="row card--row col-xs-12 modal--text-main">
                    <div class="card--title col-xs-12" >
                        <span>Angst</span>
                    </div>
                    <div class="col-xs-12">
                        <span>Angst og depression er almindeligt hos KOL-patienter. Læs om symptomer og hvordan du kan få hjælp.</span>
                    </div>
                    <div class="modal--text-title col-xs-12">
                        <p>Det er en skræmmende oplevelse at opleve, at man ikke kan trække vejret ordentligt. Du kan opleve et decideret anfald af åndenød, men angsten kan også udløses af tanken om det.</p>
						<p>Der er intet unormalt ved at reagere med angst. Og der er hjælp at få. Det kan være svært at bede om hjælp. Men det er det bedste, du kan gøre. Alternativet er at sidde alene og være bange. Det er der ingen, der har fortjent.</p>
						<p>Du har brug for hjælp, hvis du mere end et par gange om måneden føler, at du “falder ned i et hul”. Hvis du ikke har lyst til at mødes med andre - heller ikke selvom de komme til dig. Hvis du har svært ved at finde glæden ved ting, som du plejer at kunne lide. Hvis ting du normalt ikke lader dig gå på af, begynder at irritere dig.</p>
						<p>Der er forskellige tilbud i forhold til at håndtere angst og behandle depression.</p>
                    </div>
                    <div class="col-xs-12">
                        <p><b>Læs også</b></p>
                        <ul>
                            <li><a onclick="openModal('textAndenodModal')">Åndenød</a></li>
                            <li><a onclick="openModal('textGodeModal')">Gode dag og dårlige dage</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>