<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content col-xs-12">
        <div class="modal--body modal--row col-xs-12">
            <div class="modal--main-row modal--video-content">
                <button type="button" class="modal--close-button" onclick="closeModal()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <div class="modal-header col-xs-12">
                    <a href="#information"><span>Information om KOL ></span></a>
                    <span>Åndenød</span>
                </div>
                <div class="row card--row col-xs-12 modal--text-main">
                    <div class="col-xs-12 card--title">
                        <span>Åndenød</span>
                    </div>
                    <div class="col-xs-12">
                        <span>Du oplever, at det er meget svært at få vejret. Er du forberedt, kan du afhjælpe noget af det værste af oplevelsen.</span>
                    </div>
                    <div class="col-xs-12">
                        <p>
                            Det kan være en meget ubehagelig situation ikke at kunne trække vejret. Derfor kan du bruge en 
                            række teknikker til at håndtere åndenød. Det kan hjælpe på både din åndenød og angst.
                        </p>
                        <ul>
                            <li>Stå stille eller sæt dig ned.</li>
                            <li>Vurder om du har brug for luftvejsudvidende inhalationsmedicin.</li>
                            <li>Træk vejret dybt, stille og roligt ind gennem næsen.</li>
                            <li>Træk vejret helt ned i maven.</li>
                            <li>Pust stille og roligt ud gennem munden. Dine læber skal være let tilspidsede.</li>
                            <li>Gentag øvelserne til du har kontrol over din vejtrækning.</li>
                        </ul>
                        <p>
                            Det er en god idé at snakke med dine pårørende. I kan sammen finde ud af, hvordan de skal hjælpe dig, 
                            hvis du oplever åndenød. Nogen ønsker at være alene, mens de oplever åndenød. 
                            Andre finder tryghed i, at der er en anden person i nærheden.
                        </p>
                    </div>
                    <div class="col-xs-12">
                        <p><b>Læs også</b></p>
                        <ul>
                            <li><a onclick="openModal('textParorendeModal');">KOL for pårørende</a></li>
                        </ul>
                        <p><b>Læs andre steder</b></p>
                        <ul>
                            <li>
                                <a href="https://www.lunge.dk/hjaelp-ved-aandenoed" target="_blank">
                                    KOLhttps://www.lunge.dk/hjaelp-ved-aandenoed
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>