<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content col-xs-12">
        <div class="modal--body modal--row col-xs-12">
            <div class="modal--main-row modal--video-content">
                <button type="button" class="modal--close-button" onclick="closeModal()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <div class="modal-header col-xs-12">
                    <a href="#information"><span>Information om KOL ></span></a>
                    <span>Gode dage og dårlige dage</span>
                </div>
                <div class="row card--row col-xs-12 modal--text-main">
                    <div class="col-xs-12 card--title" >
                        <span>Gode dage og dårlige dage</span>
                    </div>
                    <div class="col-xs-12">
                        <p>Både patienter med og uden partnere kan miste humøret helt, når de er syge med KOL. Der er dog hjælp at hente.</p>
                    </div>
                    <div class="col-xs-12">
                        <p>
                            Der er mange ting, der kan hjælpe dit humøret op igen. Mange af tingene kan du endda selv gøre. 
                            Husk også at det er helt normalt at opleve både gode og dårlige dage.
                        </p>
                        <p>
                            På de dårlige dage kan det bl.a. være en idé at være fysisk aktiv. Når du er fysisk aktiv, 
                            vil du oftest opleve, at dit humør bliver bedre. Det kan måske også hjælpe, 
                            hvis du er fysisk aktiv sammen med andre. Selskab er nemlig med til at højne dit humør.
                        </p>
                        <p>
                            Det er dog vigtigt, at du gør tingene i et tempo som passer dig. På den måde bliver du ikke stresset. 
                            Du får i stedet en god oplevelse, når du eksempelvis er fysisk aktiv eller skal mødes med andre.
                        </p>
                        <p>
                            For nogle KOL-patienter kan sygdommen betyde, at de ofte kæmper med depression. 
                            Oplever du, at du kun har dårlige dage, skal du kontakte din læge. Der kan være tale om en depression. 
                            Det kan en professionel hjælpe dig med at komme igennem.
                        </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p><b>Læs også</b></p>
                        <ul>
                            <li><a href="">Angst</a></li>
                            <li><a href="">Ensomhed</a></li>
                            <li><a href="">Kommunale tilbud</a></li>
                            <li><a href="">Kontakt til andre</a></li>
                            <li><a href="">Motion i hverdagen</a></li>
                        </ul>
                        <p><b>Læs andre steder</b></p>
                        <ul>
                            <li>
                                <a href="https://www.youtube.com/watch?v=hg8u8AEq6tA" title="" target="_blank">
                                    https://www.youtube.com/watch?v=hg8u8AEq6tA
                                </a>
                            </li>
                            <li>
                                <a href="https://www.lunge.dk/motion-ved-kol" title="" target="_blank">
                                    https://www.lunge.dk/motion-ved-kol 
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>