<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content col-xs-12">
        <div class="modal--body modal--row col-xs-12">
            <div class="modal--main-row modal--video-content">
                <button type="button" class="modal--close-button" onclick="closeModal()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <div class="modal-header col-xs-12">
                    <a href="#information"><span>Information om KOL ></span></a>
                    <span>Pep-fløjten ved slim og hoste</span>
                </div>
                <div class="row card--row col-xs-12 modal--text-main">
                    <div class="col-xs-12 card--title" >
                        <span>Pep-fløjten ved slim og hoste</span>
                    </div>
                    <div class="col-xs-12">
                        <span>Pep-føljtetræning er en metode med stor effekt til at forbedre udnyttelsen af den lungekapacitet, som du har i behold.</span>
                    </div>
                    <div class="col-xs-12">
                        <p>Pep-fløjten kan bruges til at løsne slim i lungerne, takle åndenød og få trukket vejret godt igennem.</p>
                        <p>En fysioterapeut eller anden sundhedsfaglig person skal hjælpe dig med at indstille pep-fløjten.</p>
                        <p>Når du puster i pep-fløjten, vil du opleve en modstand. Denne modstand er med til at løsne slimet i lungerne. Derudover vil modstanden også gøre din udånding længere. På den måde bliver dine lunger tømt for “gammel luft”. Det betyder, at der er bedre plads til frisk luft. Du vil altså ikke behøve at trække vejret så hurtigt.</p>
                        <p>Pep-fløjten kan bruges et par gange dagligt eller efter behov. Har du meget slim, kan fire eller flere gange dagligt være nødvendigt. Husk at skille fløjten mindst en gang om ugen. Vask i håndlunken opvaskevand. Skyl efter i rent </p>
                    </div>
                    <div class="col-xs-12">
                        <p><b>Læs andre steder</b></p>
                        <ul>
                            <li><a target="_blank" href="https://www.lunge.dk/pep-floejten" title="">https://www.lunge.dk/pep-floejten</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>