<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content col-xs-12">
        <div class="modal--body modal--row col-xs-12">
            <div class="modal--main-row modal--video-content">
                <button type="button" class="modal--close-button" onclick="closeModal()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <div class="modal-header col-xs-12">
                    <a href="#information"><span>Information om KOL ></span></a>
                    <span>Rygestoptilbud</span>
                </div>
                <div class="row card--row col-xs-12 modal--text-main">
                    <div class="col-xs-12 card--title" >
                        <span>Rygestoptilbud</span>
                    </div>
                    <div class="col-xs-12">
                        <p>
                            Et rygestop kan hjælpe på din KOL. Der er forskellige tilbud om hjælp, som du kan benytte dig af.
                        </p>
                    </div>
                    <div class="col-xs-12">
                        <p>
                            Et af de bedste initiativer du kan tage, som KOL-patient, er et rygestop. 
                            Når du stopper med at ryge, begrænser du skaderne på lungerne.
                        </p>
                        <p>
                            Du kan søge hjælp til dit rygestop forskellige steder. <br /> Kræftens Bekæmpelse tilbyder rådgivning i rygestop. 
                            I forløbet bliver du hjulpet af uddannede rygestoprådgivere. Der tilbydes både rygestoprådgivning i 
                            grupper og individuel rygeafvænning. Læs mere på Kræftens Bekæmpelses hjemmeside www.cancer.dk.
                        </p>
                        <p>
                            Derudover kan du ringe til STOPLINIEN på tlf. 80 31 31 31. Her får du tilbudt gratis rådgivning på telefonen.
                        </p>
                        <p>
                            Liste over andre steder hvor du kan få hjælp til dit rygestop.
                        </p>
                        <ul>
                            <li><a href="www.exsmokers.eu">www.exsmokers.eu</a></li>
                            <li><a href="www.xhale.dk">www.xhale.dk</a></li>
                            <li><a href="www.liv.dk">www.liv.dk</a></li>
                            <li><a href="www.sundhed.dk">www.sundhed.dk</a></li>
                            <li><a href="www.e-kvit.dk">www.e-kvit.dk</a></li>
                        </ul>
                        <p>
                            <a href="http://www.cancer.dk/forebyg/bliv-roegfri/hjaelp/raadgivning/" target="_blank">
                                http://www.cancer.dk/forebyg/bliv-roegfri/hjaelp/raadgivning/
                            </a>
                        </p>
                        <p>
                            <a href="https://www.lunge.dk/hjaelp-til-rygestop-0" target="_blank">
                            https://www.lunge.dk/hjaelp-til-rygestop-0 
                        </a>
                        </p>
                    
                    </div>
                    <div class="col-xs-12">
                        <p><b>Læs også</b></p>
                        <ul>
                            <li>Medicin, instruktion</li>
                            <li>Motion i hverdagen</li>
                            <li>Rygestoptilbud</li>
                        </ul>
                        <p><b>Læs andre steder</b></p>
                        <ul>
                            <li>
                                <a href="https://www.youtube.com/watch?v=hg8u8AEq6tA" title="" target="_blank">
                                https://www.youtube.com/watch?v=hg8u8AEq6tA
                                </a>
                            </li>
                            <li>
                                <a href="https://www.lunge.dk/motion-ved-kol" title="" target="_blank">
                                https://www.lunge.dk/motion-ved-kol 
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>