<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content col-xs-12">
        <div class="modal--body modal--row col-xs-12">
            <div class="modal--main-row modal--video-content">
                <button type="button" class="modal--close-button" onclick="closeModal()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <div class="modal-header col-xs-12">
                    <a href="#information"><span>Information om KOL ></span></a>
                    <span>Patientens opgaver</span>
                </div>
                <div class="row card--row col-xs-12 modal--text-main">
                    <div class="col-xs-12 card--title" >
                        <span>Patientens opgaver</span>
                    </div>
                    <div class="col-xs-12">
                        <p>Det godt at hjælpe lægen med at tilrettelægge behandlingen optimalt.</p>
                    </div>
                    <div class="col-xs-12">
                        <p>
                            Som patient er det en god idé at følge de råd, som din læge giver. Det kan være råd om at 
                            være mere fysisk aktiv eller at stoppe med at ryge. Alle disse ting har indflydelse på din sygdom. 
                            Hvis du følger rådene, bliver det nemmere for dig og din læge at håndtere sygdommen.
                        </p>
                        <p>
                            Det er også vigtigt, at tage din medicin som aftalt med lægen. Du tænker måske, at det er lige meget, 
                            hvis du glemmer det en enkelt gang. Men det er det ikke. Gør det derfor til en vane at overholde aftalerne med lægen.
                        </p>
                    </div>
                    <div class="col-xs-12">
                        <p><b>Læs også</b></p>
                        <ul>
                            <li>Medicin, instruktion</li>
                            <li>Motion i hverdagen</li>
                            <li>Rygestoptilbud</li>
                        </ul>
                        <p><b>Læs andre steder</b></p>
                        <ul>
                            <li>
                                <a href="https://www.youtube.com/watch?v=hg8u8AEq6tA" title="" target="_blank">
                                    https://www.youtube.com/watch?v=hg8u8AEq6tA
                                </a>
                            </li>
                            <li>
                                <a href="https://www.lunge.dk/motion-ved-kol" title="" target="_blank">
                                    https://www.lunge.dk/motion-ved-kol 
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>