<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content col-xs-12">
        <div class="modal--body modal--row col-xs-12">
            <div class="modal--main-row modal--video-content">
                <button type="button" class="modal--close-button" onclick="closeModal()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <div class="modal-header col-xs-12">
                    <a href="#information"><span>Information om KOL ></span></a>
                    <span>Behandlere du kan møde</span>
                </div>
                <div class="row card--row col-xs-12 modal--text-main">
                    <div class="card--title col-xs-12" >
                        <span>Behandlere du kan møde</span>
                    </div>
                    <div class="col-xs-12">
                        <span>Du kan møde forskellige personer i forbindelse med din KOL behandling. Her er en oversigt.</span>
                    </div>
                    <div class="col-xs-12">
                        <p>
                            <b>Egen læge.</b> Er formelt den klinisk hovedansvarlige for din behandling. Hvis du er i tvivl 
                            om noget i forbindelse med din behandling, er det her, du skal henvende dig.
						</p>
						<p>
						    <b>Sygeplejerske hos egen læge.</b> Mange læger lader rutinebehandlinger og -undersøgelser 
                            foregå ved en sygeplejerske. Det sker typisk i lægehuset.
						</p>
						<p>
						    <b>Speciallæger.</b> Du kan blive henvist fra din egen læge til en praktiserende speciallæge. 
                            Her kan du få lavet yderligere undersøgelser eller få ekstra rådgivning og vejledning.
						</p>
						<p>
						    <b>Læge på ambulatoriet.</b> 
                            Er specialist i lungesygdomme og har mulighed for at tilbyde andre behandlinger og behandlingsforløb.
						</p>
						<p>
						    <b>Sygeplejerske på ambulatoriet.</b> 
                            Er den du typisk har mest kontakt med, hvis du er i et forløb på lungeambulatoriet.
						</p>
						<p>
						    <b>Træner ved sundhedscentret.</b> 
                            Anviser øvelser til fysisk træning og øver dem igennem med dig og andre på hold.
						</p>
						<p>
						    <b>Rådgivere ved sundhedscentret.</b> Kan være diætister, fysioterapeuter, socialrådgivere osv. 
                            De kan hjælpe dig med rådgivning ud fra dine behov i forbindelse med din KOL.
						</p>
						<p>
						    <b>Hjælper i hjemmet.</b> Kan være bevilget fra din kommune til at komme at hjælpe dig i dit hjem. 
                            En hjælper kan også have opgaver i forbindelse med din KOL, for eksempel håndtering af iltapparat, hvis du bruger sådan et.
						</p>
                    </div>
                    <div class="col-xs-12">
                        <p><b>Læs også</b></p>
                        <ul>
                            <li><a onclick="openModal('textLaegensModal');">Lægens opgaver</a></li>
                            <li><a onclick="openModal('textPatiententsModal');">Patientens opgaver</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>