<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content col-xs-12">
        <div class="modal--body modal--row col-xs-12">
            <div class="modal--main-row modal--video-content">
                <button type="button" class="modal--close-button" onclick="closeModal()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <div class="modal-header col-xs-12">
                    <a href="#information"><span>Information om KOL ></span></a>
                    <span>Lægens opgaver</span>
                </div>
                <div class="row card--row col-xs-12 modal--text-main">
                    <div class="col-xs-12 card--title" >
                        <span>Lægens opgaver</span>
                    </div>
                    <div class="col-xs-12">
                        <span>
                            Det er lægens opgave at sørge for, at du får den rette medicinske behandling, 
                            og at din udvikling bliver behandlet korrekt.
                        </span>
                    </div>
                    <div class="col-xs-12">
                        <p>
                            Lægens opgave er at sørge for, at din sygdom ikke bliver værre. 
                            I lægeverden hedder det at undgå progression. Da KOL er en kronisk sygdom, 
                            kan lægen ikke gøre dig rask. Dog kan lægen hjælpe dig til at få det bedste ud af din situation.
                        </p>
                        <p>
                            Derfor skal lægen bl.a. ordinere dig den rigtige medicin. Lægen vil typisk også hjælpe med at mindske risikofaktorer. 
                            Det kan eksempelvis betyde, at lægen råder dig til et rygestop. Rygning er nemlig en faktor, der forværrer din sygdom. 
                        </p>
                        <p>
                            DLægen har også fokus på at behandle dig ud fra lige netop dine symptomer. 
                            Det kaldes, at behandlingen individualiseres. Det er med til at sikre, at du får den behandling, som du har brug for. 
                        </p>
                    </div>
                    <div class="col-xs-12">
                        <p><b>Læs også</b></p>
                        <ul>
                            <li><a onclick="openModal('textRygestopstilbudModal');">Rygestoptilbud</a></li>
                            <li><a href="">Medicin, instruktion</a></li>
                        </ul>
                        <p><b>Læs mere andre steder</b></p>
                        <ul>
                            <li>
                                <a href="https://www.sundhed.dk/sundhedsfaglig/laegehaandbogen/lunger/tilstande-og-sygdomme/obstruktive-lungesygdomme/kol/" target="_blank" title="Læs mere om verjtrækningsteknik på lunge.dk"> 
                                    https://www.sundhed.dk
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>