<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content col-xs-12">
        <div class="modal--body modal--row col-xs-12">
            <div class="modal--main-row modal--video-content">
                <button type="button" class="modal--close-button" onclick="closeModal()">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <div class="modal-header col-xs-12">
                    <a href="#information"><span>Information om KOL ></span></a>
                    <span>KOL for pårørende</span>
                </div>
                <div class="row card--row col-xs-12 modal--text-main">
                    <div class="col-xs-12 card--title" >
                        <span>KOL for pårørende</span>
                    </div>
                    <div class="col-xs-12">
                        <p>Som pårørende er der nogle ting du bør vide. Det kan komme både dig og KOL-patienten til gode.</p>
                    </div>
                    <div class="col-xs-12">
                        <p>
                            Pårørende til KOL-patienter vil opleve, at deres liv også ændres. Det er derfor vigtigt at 
                            snakke sammen om sygdommen. Hav også tålmodighed. Mange hverdagsting er nemlig krævende for KOL-patienter. 
                        </p>
                        <p>
                            Lav aftaler om hvilken rolle du som pårørende skal spille. 
                            Måske skal du hjælpe på en bestemt måde, når den lungesyge bliver dårlig. 
                        </p>
                        <p>
                            Tag ikke alt ansvaret. Selvom der er behov for hjælp og støtte, skal den lungesyge selv tage det meste af ansvaret. 
                        </p>
                        <p>
                            Få nye kræfter. Lav noget som ikke handler om KOL-sygdommen. Det kan være med til at give ny energi.
                        </p>
                        <p>
                            Lungeforeningen har lavet en guide med tips til, når du skal være sammen med en lungepatient. Du finder den på www.lunge.dk.
                        </p>
                        <p>
                            Se video hvor KOL-patienter fortæller om, hvordan sygdommen påvirker forholdet til familie og venner.<br>
                            <a href="https://youtu.be/3Ale_9mFytw" target="_blank">https://youtu.be/3Ale_9mFytw</a>
                        </p>
                    </div>
                    <div class="col-xs-12">
                        <p><b>Læs andre steder</b></p>
                        <ul>
                            <li><a href="https://www.lunge.dk/guide-paa-besoeg-med-aandenoed" target="_blank">https://www.lunge.dk/guide-paa-besoeg-med-aandenoed</a></li>
                            <li><a href="https://www.lunge.dk/husk-snakke-sammen-ogsaa-om-sygdommen" target="_blank">https://www.lunge.dk/husk-snakke-sammen-ogsaa-om-sygdommen</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>