<div class="header-top-row col-xs-12">
    <div class="header--updated col-xs-3">
        <span>OPDATERET 14. APRIL 2016</span>
    </div>
    <div class="header--top-middle col-xs-6">
        <span onclick="openModal('forventeModal')">Hvad kan man forvente af en forløbsplan?</span>
    </div>
    <div class="header--top-right col-xs-3">
        <button onclick="openModal('introduktionModal')">Introduktion</button>
    </div>
</div>


<div class="header--main col-xs-12">
    <div class="header--app-name col-xs-4">
        <span>KOL forløbsplan</span>
    </div>
    <div class="header--user-name col-xs-8">
        <span>Jonna Alma Vestergaard Pedersen</span>
        <button class="logout-btn">Log ud</button>
    </div>
</div>

<div class="header-mobile col-xs-12">
    <div class="mobile-nav-menu col-xs-12">
        <span>KOL forløbsplan</span>
    </div>
    <div class="mobile-nav">
        <select class="nav-dropdown">
            <option disabled>
                OPDATERET 14. APRIL 2016
            </option>
            <option value="1">
                Information om KOL
            </option>
            <option value="2">
                Stamdata
            </option>
            <option value="3">
                Konsultationer
            </option>
            <option value="4">
                Husk
            </option>
            <option value="5">
                Hvad kan man forvente af en forløbsplan?
            </option>
            <option value="6">
                Introduktion
            </option>
        </select>
    </div>
</div>