<div class="husk-content col-xs-12">
    <div class="husk-content-row col-xs-12">
        <div class="col-xs-12">
            <span>Liste over ting du har aftalt med din læge, at du selv skal følge op på.</span>
        </div>
    </div>
    <div class="husk-content-border col-xs-12"></div>
    <div class="husk-content-row col-xs-12">
        <div class="husk-content-row-title col-xs-12">
            <span>Kontakt lægen og lav aftale om Pneumokok #2</span>
        </div>
        <div class="husk-content-inner-row col-xs-12">
            <div class="husk-content-left-col col-sm-8 col-xs-12">
                <span>Som aftalt på Årskontrollen 11. januar 2016 skal du have lavet en aftale om en 
                    <b>konsultation om Pneumokok-vaccination #2</b> inden fredag den 21 april 2016. 
                </span>
            </div>
            <div class="husk-content-right-col col-sm-4 col-xs-12">
                <div class="btn-1" onclick="huskBook(this)">
                    <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                    <button>Ja, jeg har booket tid</button>
                </div>              
            </div>
        </div>
        
    </div>
    <div class="husk-content-border col-xs-12"></div>
    <div class="husk-content-row col-xs-12">
        <div class="husk-content-row-title col-xs-12">
            <span>Kontakt lægen og lav aftale om 3 mdrs. kontrol</span>
        </div>
        <div class="husk-content-inner-row col-xs-12">
            <div class="husk-content-left-col col-sm-8 col-xs-12">
                <span>Som aftalt på Årskontrollen 11. januar 2016 skal du have lavet en aftale om en 
                    <b>konsultation om 3 mdrs. kontrol</b> inden fredag den 21 april 2016. 
                </span>
            </div>
            <div class="husk-content-right-col col-sm-4 col-xs-12">
                <div class="btn-1" onclick="huskBook(this)">
                    <i class="fa fa-check fa-lg" aria-hidden="true"></i>
                    <button>Ja, jeg har booket tid</button>
                </div>
            </div>
        </div>
    </div>
</div>